body {
   background-color: #e6edd9;
   color: white;
}

.img {
   width: 100px;
   border-radius: 1px;
   padding: 5px;
   justify-items: center;
}

.texto {
   text-align: justify;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-size: 20px;
   padding: 5px 25px;
   color: #000;

}

.encabezado-articulo {
   padding: 10px;
   text-align: center;
   background-color: rgb(82,   122, 87);
   color: rgb(255, 255, 255);
   margin: 1em 2em;
   border-radius: 5px;

}

.encabezado-aside {
   padding: 10px 10px;
   text-align: center;
   background-color: rgb(89, 161, 81);
   color: white;
   margin: 1em 2em;
}

.texto-box {

   background: red;
}